body {}

h1 logo {
	background-image: url(#);
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('League_Gothic-webfont.eot');
    src: url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('League_Gothic-webfont.woff') format('woff'),
         url('League_Gothic-webfont.ttf') format('truetype'),
         url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 {
	font-family: "LeagueGothicRegular", sans-serif;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

